/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container{
    width: 642px;
    height: 672px;
    background-color: white;
    color: white;
    overflow: auto;
    margin: 0 auto;
}

#topbar{
    font-family: verdana, sans-serif;
    font-size: 0.65em;
    font-style: italic;
    position: relative;
    left: 20px;
    top: 9px;
    right: 20px;
    bottom: 20px;
    text-align: right;
    width: 600px;
    border: 1px solid #ccc8b8;
    height: 220px;
    background-color: #4f463c;
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

#menu{
    width: 600px;
    height: 35px;
    background-color: #4f463c;
    border-left: 1px solid #ccc8b8;
    border-right: 1px solid #ccc8b8;
    position: relative;
    left: 20px;
    right: 20px;
    top: 8px;
    text-indent: 10px;
    font-size: 0.7em;
}

#menu > a{
    display: none
}

#menu > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu > ul > li{
    float: left;
    position: relative;
    left: 20px;
    top: 4px;
    background-color: #786f66;
    margin-right: 1px;
}
